@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Opistokuja 1<br />
    06100 PORVOO<br />
    <abbr title="Phone">P:</abbr>
    (019) 529 9200
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:info@pointcollege.fi">info@pointcollege.fi</a><br />
</address>